.main-page {
    background-color: #320000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
    margin-top: 68px;
    margin-bottom: 58px;
    box-shadow: 0 -4px 6px rgba(255, 0, 0, 0.11) inset;
}

.main-page p {
    font-size: 60px;
    font-weight: 100;
    font-family: Arial, sans-serif;
}
  